
.whyChooseUs {
    width: 100%;
    padding: 90px 0;
    background-color: var(--bg);
    display: flex;
    align-items: center;
    .container>.row>div {
        color: var(--bg);
    }
    p {
        color: var(--primary);
    }
}

.section-title {
    color: var(--primary);
}

.section-title:after {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: var(--primary);
    width: 110px;
}

.section-title:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: var(--primary);
    width: 110px;
}

.main-title {
    margin: 30px auto;
    color: var(--primary);
}