
.whyChooseUs {
    width: 100%;
    padding: 90px 0;
    background-color: var(--bg);
    display: flex;
    align-items: center;
    .container>.row>div {
        color: var(--bg);
    }
    p {
        color: var(--primary);
    }
}