.card-slider {
    padding-top: 100px;
    background-color: var(--secondary);
}

.slide-container>div {
    height: 450px;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
}

.card-container {
    padding: 0 30px;
}