@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;800&family=Roboto:wght@400;500;700&display=swap');

:root {
  --primary: gold;
  --bg: #191919;
  --text: #131313;
  --third: #00B2DF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', 'Roboto', sans-serif;
}

.Pcolor {
    color: var(--primary) !important;
}

.PBg {
    background-color: var(--bg);
}

.Mcolor {
    color: var(--text);
}

.back-filter {
    /* background: rgba(249, 249, 251, 0.09) !important; */
    background: rgba(0, 0, 0, 0.7) !important;
    box-shadow: 0 6px 16px rgba(0,0,0,.1);
    backdrop-filter: blur(28px) !important;
}