@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;800&family=Roboto:wght@400;500;700&display=swap');

:root {
  --primary: gold;
  --bg: #191919;
  --text: #a57c37;
  --third: #a57c37;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', 'Roboto', sans-serif;
}

.Pcolor {
    color: var(--primary) !important;
}

.PBg {
    background-color: var(--bg);
}

.Mcolor {
    color: var(--text);
}

.section-title {
    color: var(--primary);
}

.section-title:after {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: var(--primary);
    width: 110px;
}

.section-title:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: var(--primary);
    width: 110px;
}

.main-title {
    margin: 30px auto;
    color: var(--primary);
}

.back-filter {
    /* background: rgba(249, 249, 251, 0.09) !important; */
    background: rgba(0, 0, 0, 0.7) !important;
    box-shadow: 0 6px 16px rgba(0,0,0,.1);
    backdrop-filter: blur(28px) !important;
}